div {
  margin: 14px 0;
}

.PopUp {
  width: 100%;
  top: 5%;
  text-align: center;
  background-color: var(--background-color);

  /* margin-top: 20px;
    position: fixed;
    left:0%;
    top: 5%;
    width: 100%;
    background-color: var(--background-color);
    border-radius: 1em;
    font-size: 14px;
    font-style: normal; */
}
