html,body {
	height: 100%;
}

body{
	background-color: rgb(237, 237, 237);
	font-size: 14px;
}

.brand {
	margin: 60px auto 0;
	box-shadow: 0 0 40px rgba(237, 237, 237, 0);
}
.brand-reset{
	margin: 0 auto;
}

.brand img {
	width: 100%;
}

.card-wrapper {
	width: 400px;
	margin: 0 auto;
}

.card {
	border-color: transparent;
	background: transparent;
}

.card.fat {
	padding: 10px;
}

.card .card-title {
	margin-bottom: 30px;
}

.form-control {
	border-width: 2.3px;
}

.form-group label {
	width: 100%;
}

.btn.btn-block {
	padding: 12px 10px;
	background-color: rgb(255, 115, 0);
	cursor: pointer;
}

.margin-top20 {
	margin-top: 20px;
}

.no-margin {
	margin: 0;
}

.footer {
	margin: 40px 0;
	color: rgb(0, 0, 0);
	text-align: center;
}


.chek {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 13px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.chek input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	border: 2px solid #d2d4d6;
	border-radius: 2px;
}

.chek:hover input ~ .checkmark {
  background-color: #ccc;
}
.chek input:checked ~ .checkmark {
	background-color: #ccc;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.chek input:checked ~ .checkmark:after {
	display: block;
}

.chek .checkmark:after {
	left: 3px;
	top: -2px;
	width: 10px;
	height: 15px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

@media screen and (max-width: 425px) {
	.card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.card.fat {
		padding: 0;
	}

	.card.fat .card-body {
		padding: 15px;
	}
}


  /* https://www.w3schools.com/howto/howto_js_password_validation.asp */
/* Style all input fields */
form-control {
	width: 50%;
	padding: 5px;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 1px;
	box-sizing: border-box;
	margin-top: 1px;
	margin-bottom: 5px;
  }
  
  /* Style the submit button */
  form-control[type=submit] {
	background-color: #04AA6D;
	color: white;
  }
  
  /* Style the container for inputs */
  .form-control {
	background-color: #f1f1f1;
	padding: 5px;
  }
  
  /* The message box is shown when the user clicks on the password field */
  #message {
	display:none;
	background: #f1f1f100;
	color: rgba(0, 0, 0, 0);
	position: relative;
	padding: 20px;
	margin-top: 10px;
  }
  
  #message p {
	padding: 5px 5px;
	font-size: 16px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
	color: green;
  }
  
  .valid:before {
	position: relative;
	left: -35px;
	content: "✔";
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
	color: red;
  }
  
  .invalid:before {
	position: relative;
	left: -35px;
	content: "✖";
  }

/* tire */

.guess-grid {
	display: grid;
	justify-content: center;
	align-content: center;
	flex-grow: 1;
	grid-template-columns: repeat(9, 4em);
	grid-template-rows: repeat(6, 4em);
	gap: .25em;
	
	margin-bottom: 1em;
  }

.tile {
  font-size: 2em;
  color:  #d8d8d8;
  border: .05em solid hsl(240, 2%, 23%);
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: transform 250ms linear;
  box-shadow: 5px 2px 2px rgb(255, 166, 0);
  animation-name: FlipOut;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
  }

  .active {
    background-color: hsl(240, 2%, 23%);

  }
  .correct {
    background-color: #6aaa64;

  }
  .wrong {
    background-color: #c9b458;

  }
  
  @keyframes FlipOut {
    0% {
      transform: rotateX(0);
    }
  25% {
      transform: rotateX(-90deg);
    }
  50% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0);
  }
}
